.c-container{
    justify-content: space-around;
    gap: 1rem;
}

.c-container>img{
    width: 9rem;
}

@media (max-width:786px) {
    .c-container {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }
}